.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, px-to-rem(250px));

  column-gap: px-to-rem(50px);
  row-gap: px-to-rem(25px);

  @include mobile {
    grid-template-columns: repeat(auto-fit, px-to-rem(138px));
  }
}

.album_title {
  margin: 0;

  font-weight: bold;
  font-size: px-to-rem(12.8px);
  text-transform: uppercase;

  &_link {
    color: white;
    text-decoration: none;

    &:hover {
      color: $orange;
    }
  }
}

.item_title {
  margin-top: px-to-rem(11px);
  margin-bottom: 0;

  font-weight: bold;
  font-size: px-to-rem(18px);
  line-height: px-to-rem(27px);

  text-transform: capitalize;

  &_link {
    color: white;
    text-decoration: none;

    &:hover {
      color: $orange;
    }
  }
}

.item_description {
  margin: 0;

  color: $gray;

  font-size: px-to-rem(16px);
  line-height: px-to-rem(24px);
}

.list_item_center {
  text-align: center;
}

.item_image {
  width: px-to-rem(250px);

  @include mobile {
    width: px-to-rem(137px);
  }
}

.time {
  @include mobile {
    margin-right: px-to-rem(7px);
  }
}
