.list {
  &_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, px-to-rem(250px));

    column-gap: px-to-rem(50px);
    row-gap: px-to-rem(25px);

    @include mobile {
      grid-template-columns: repeat(auto-fit, px-to-rem(138px));
    }
  }

  &_image {
    width: px-to-rem(250px);

    @include mobile {
      width: px-to-rem(137px);
    }
  }

  &_title {
    margin-top: px-to-rem(11px);
    margin-bottom: 0;

    font-weight: bold;
    font-size: px-to-rem(18px);
    line-height: px-to-rem(27px);

    text-transform: capitalize;

    &_link {
      color: color('blank');
      text-decoration: none;

      &:hover {
        color: color('hover');
      }
    }
  }

  &_description {
    margin: 0;

    color: color('secondary');

    font-size: px-to-rem(16px);
    line-height: px-to-rem(24px);
  }

  &_item_center {
    text-align: center;
  }
}
