.banner {
  position: relative;

  padding: px-to-rem(200px 0);

  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;

  &_title {
    margin: 0;

    font: bold px-to-rem(60px)/px-to-rem(90px) Roboto, sans-serif;
    text-transform: uppercase;

    &_artist {
      margin-top: px-to-rem(50px);
    }

    @include mobile {
      margin-top: px-to-rem(48px);

      font-size: px-to-rem(30px);
      line-height: px-to-rem(45px);

      &_artist {
        margin-top: px-to-rem(25px);
      }
    }

    &_small {
      margin: 0;

      font: bold px-to-rem(38px)/px-to-rem(57px) Roboto, sans-serif;
      text-transform: uppercase;

      @include mobile {
        font-size: px-to-rem(18px);
        line-height: px-to-rem(27px);
      }
    }
  }

  &_description {
    margin-top: px-to-rem(32px);
    margin-bottom: px-to-rem(18px);

    font-size: px-to-rem(16px);

    @include mobile {
      margin-top: px-to-rem(16px);
    }

    &_artist {
      margin-top: px-to-rem(16px);
      margin-bottom: px-to-rem(48px);

      color: $thirdLight;

      font-size: px-to-rem(16px);
      text-align: left;
    }
  }

  &_artist {
    padding: px-to-rem(200px 0);

    .btn {
      margin-right: 1.2rem;
      margin-bottom: px-to-rem(20px);
    }
  }
}
