.banner {
  position: relative;

  padding: 200px 0;

  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;

  &_title {
    margin: 0;

    font: bold 60px/90px Roboto, sans-serif;
    text-transform: uppercase;
    
    &_artist {
      margin-top: 50px;
    }

    @include mobile {
      margin-top: 48px;

      font-size: 30px;
      line-height: 45px;

      &_artist {
        margin-top: 25px;
      }
    }

    &_small {
      margin: 0;

      font: bold 38px/57px Roboto, sans-serif;
      line-height: 57px;
      text-transform: uppercase;

      @include mobile {
        font-size: 18px;
        line-height: 27px;
      }
    }
  }

  &_description {
    margin-top: 32px;
    margin-bottom: 18px;

    font-size: 16px;

    @include mobile {
      margin-top: 16px;
    }

    &_artist {
      margin-top: 16px;
      margin-bottom: 48px;

      color: white;

      font-size: 16px;
      text-align: left;
    }
  }

  &_artist {
    padding-top: 200px;
    padding-bottom: 200px;


    background-image: url("../images/Morten\ Harket.png");

    @include mobile {
      padding-top: 200px;
      padding-bottom: 200px;
    }
  }

  .btn {
    margin-bottom: 24px;

    &:first-child {
      margin-right: 1.2rem;
    }

    @include mobile {
      &:first-child {
        margin-right: 0;
      }
    }
    @include mobile {
      margin-bottom: 0;
    }
  }
}

.sign-up {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));

  max-width: 570px;

  margin: 0 auto;

  column-gap: 24px;
  row-gap: 1.5rem;
}

.input-item {
  box-sizing: border-box;

  min-width: 270px;
  min-height: 50px;

  padding: 0 20px;

  color: white;

  background: none;

  border: 2px solid $dark-gray;
  border-radius: 3px;

  &:focus {
    outline: none;
  }
}
