.btn {
  box-sizing: border-box;

  padding-right: px-to-rem(30px);
  padding-left: px-to-rem(30px);

  color: $thirdLight;
  text-transform: uppercase;
  text-decoration: none;

  border: none;

  border-radius: px-to-rem(5px);

  transition: background-color 1s, color 1s, border-color 1s;

  &_submit {
    grid-column-start: 1;
    grid-column-end: -1;
    padding-top: px-to-rem(20px);
    padding-bottom: px-to-rem(20px);

    font-size: px-to-rem(13.3px);

    background-color: $button-submit;

    &:hover {
      color: $hover;

      cursor: pointer;

      opacity: 0.8;
    }
  }

  &_sub {
    display: block;

    padding-top: px-to-rem(20px);
    padding-bottom: px-to-rem(20px);

    font-size: px-to-rem(16px);

    border: px-to-rem(1px) solid $secondaryDark;

    &:hover {
      color: $hover;

      border-color: $hover;
    }
  }

  &_more {
    display: inline-block;

    margin-bottom: px-to-rem(20px);
    padding-top: px-to-rem(16px);
    padding-bottom: px-to-rem(16px);

    font-size: px-to-rem(12.8px);

    border: px-to-rem(2px) solid $secondaryDark;

    &:hover {
      color: $hover;

      border-color: $hover;
    }

    &_last {
      @include mini_tablet {
        margin-bottom: 0;
      }
    }
  }

  &_download {
    display: inline-block;
    padding: px-to-rem(16px 40px);

    font-size: px-to-rem(12.8px);

    text-transform: none;

    background-color: $button-download;

    border-radius: px-to-rem(32px);

    &:hover {
      color: $hover;
    }
  }

  &_mix {
    display: inline-block;

    align-items: center;

    width: px-to-rem(200px);
    height: px-to-rem(62px);

    padding: px-to-rem(20px 30px);

    font-size: px-to-rem(12.8px);

    text-align: left;

    border: px-to-rem(2px) solid transparent;

    &:hover {
      border-color: $hover;
    }
  }

  &_blue {
    background-color: $button-mix;
  }

  &_red {
    background-color: $button-download;
  }
}
