.btn {
  box-sizing: border-box;

  padding-right: 30px;
  padding-left: 30px;

  color: white;
  text-transform: uppercase;
  text-decoration: none;

  border: none;

  border-radius: 5px;

  transition: 1s;

  &_submit {
    grid-column-start: 1;
    grid-column-end: -1;
    padding-top: 20px;
    padding-bottom: 20px;

    font-size: 13.3px;

    background-color: $green;

    &:hover {
      color: $orange;

      cursor: pointer;

      opacity: 0.8;
    }
  }

  &_sub {
    display: block;

    padding-top: 20px;
    padding-bottom: 20px;

    font-size: 16px;

    border: 2px solid $dark-gray;

    &:hover {
      color: $orange;

      border-color: $orange;
    }
  }

  &_more {
    display: inline-block;

    margin-bottom: 20px;
    padding-top: 16px;
    padding-bottom: 16px;

    font-size: 12.8px;

    border: 2px solid $dark-gray;

    &:hover {
      color: $orange;

      border-color: $orange;
    }

    &_last {
      @include mini_tablet {
        margin-bottom: 0;
      }
    }
  }

  &_download {
    display: inline-block;
    padding: 16px 40px;

    font-size: 12.8px;
    line-height: 19.2px;

    text-transform: none;

    background-color: $red;

    border-radius: 32px;

    &:hover {
      color: $orange;

      border: 2px solid $orange;
    }
  }

  &_mix {
    display: inline-block;

    align-items: center;

    width: 200px;
    height: 62px;

    padding: 20px 31px;

    font-size: 12.8px;

    text-align: left;

    border: 2px solid transparent;

    &:hover {
      border-color: $orange;
    }
  }

  &_blue {
    background-color: $purple;
  }

  &_red {
    background-color: $red;
  }
}
