.bg-gradient {
  background: linear-gradient(89.75deg, $purple 32.83%, $red 81.56%);
}

.footer_link {
  color: $gray;

  font-size: inherit;
  line-height: 24px;

  text-decoration: none;
}

.footer_wrapper {
  border-top: 2px solid $dark-gray;

  &_up {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));

    padding-top: 62px;
    padding-bottom: 70px;

    column-gap: 40px;
    row-gap: 31px;

    & ul {
      margin: 0;
      padding: 0;

      list-style: none;

      & li {
        font-size: 16px;
      }
    }

    @include mini_tablet {
      padding-top: 63px;
      padding-bottom: 66px;
    }
  }

  &_down {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding-top: 40px;
    padding-bottom: 50px;

    font-size: 16px;

    & > .footer_link {
      display: inline-block;
    }

    @include mobile {
      flex-direction: column;
      padding-bottom: 47px;
    }
  }
}

.link_wrapper {
  display: flex;
  gap: 24px;
  align-items: center;

  margin-top: 18px;
}

.footer_title {
  margin-top: 0;
  margin-bottom: 15px;

  color: white;

  font-weight: bold;
  font-size: 18px;

  text-transform: uppercase;
}

// .about > .footer_title {
//   @include mobile {
//     margin-top: 0;
//   }
// }

.contacts_links {
  margin: 0;

  font-size: 16px;
  line-height: 24px;

  & > p {
    margin: 0;
  }
}

// .social_media {
//   @include mini_tablet {
//     margin-top: 6px;
//   }
// }
