@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url(../fonts/Roboto-Bold.ttf);
}

body {
  margin: 0;

  color: $dark-gray;

  font: 18px/1.5 Roboto, sans-serif;

  background-color: $dark;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  @include tablet {
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include mini_tablet {
    flex-direction: column;
  }

  &_reverse {
    @include tablet {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &_align {
    align-items: center;

    @include mini_tablet {
      align-items: flex-start;
    }
  }
}

.icon {
  height: 20px;

  margin-right: 16px;

  vertical-align: middle;

  filter: invert(1);
}
