@font-face {
    font-family: Roboto;
    font-weight: 400;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    font-weight: 700;
    src: url(../fonts/Roboto-Bold.ttf);
}

body {
    margin: 0;
    
    font: 18px/1.5 Roboto, sans-serif;
    
    color: $dark-gray;
 
    background-color: $dark;
 }

 .container {
    margin: 0 auto;
    max-width: 1200px;
 }

 .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    &_align {
        align-items: center;
    }
    
}