@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url(../fonts/Roboto-Bold.ttf);
}

body {
  margin: 0;

  color: color('light');

  font: px-to-rem(18px)/1.5 Roboto, sans-serif;

  background-color: color('primary');
}

.container {
  box-sizing: border-box;

  width: 100%;
  max-width: px-to-rem(1240px);

  margin: 0 auto;
  padding: px-to-rem(0 20px);
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include mini_tablet {
    flex-direction: column;
  }

  &_reverse {
    @include tablet {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &_align {
    align-items: center;

    @include mini_tablet {
      align-items: flex-start;
    }
  }
}

.icon {
  height: px-to-rem(20px);

  margin-right: px-to-rem(16px);

  vertical-align: middle;

  filter: invert(1);
}

.currency {
  font-size: px-to-rem(32px);
  text-transform: uppercase;
  vertical-align: text-top;
}
