.header {
  position: absolute;
  top: px-to-rem(25px);
  z-index: 1;

  width: 100%;

  &_artist {
    top: px-to-rem(22px);
  }

  &_logo {
    display: flex;
    align-items: center;
  }

  &_menu {
    @include mini_tablet {
      padding-top: px-to-rem(16px);
      padding-bottom: px-to-rem(14px);
    }
  }

  &_search {
    margin-left: auto;

    @include mini_tablet {
      width: 100%;

      margin-left: 0;
    }

    &_window {
      width: px-to-rem(248px);
      height: px-to-rem(25px);

      padding: px-to-rem(5px 0px 5px 10px);

      color: white;

      font-size: px-to-rem(14px);
      line-height: 1.2;
      text-transform: uppercase;

      background-color: rgba(60, 59, 61, 1);

      border: none;

      border-radius: px-to-rem(50px);

      &:focus {
        outline: none;
      }

      @include mini_tablet {
        width: 100%;
      }
    }
  }
}

.logo {
  width: px-to-rem(24px);
  height: px-to-rem(24px);

  &_text {
    display: inline-block;
    margin: px-to-rem(0px 91px 0px 16px);

    color: $dark-gray;

    font-size: px-to-rem(10px);

    text-transform: uppercase;
    text-decoration: none;

    @include mini_tablet {
      font-weight: bold;
      font-size: px-to-rem(11px);
    }
  }
}

.menu {
  margin: 0;
  padding: 0;

  list-style: none;

  & > li {
    display: flex;

    margin-right: px-to-rem(24px);
  }

  &_item {
    color: $dark-gray;

    font-size: px-to-rem(11px);

    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: $orange;
    }

    @include mini_tablet {
      font-weight: bold;
    }
  }
}

.artist_page {
  font-weight: bold;
  font-size: px-to-rem(11px);

  &:hover {
    color: $orange;
  }
}
