.header {
  position: absolute;
  top: 22px;
  z-index: 1;

  width: 100%;
  height: 25px;

  &_logo {
    display: flex;
    align-items: center;

    height: 24px;

    padding-right: 91px;
    padding-left: 40px;

    background: url("../images/logo.svg") no-repeat;
    background-size: 24px;
  }

  &_menu {
    gap: 24px;

    margin: 0;
    padding: 0;

    @include mini_tablet {
      gap: 0;

      padding-top: 17px;
      padding-bottom: 18px;
    }
  }

  &_search {
    margin-left: auto;

    @include mini_tablet {
      width: 100%;

      margin-left: 0;
    }

    &_window {
      width: 248px;
      height: 25px;

      padding: 5px 0 5px 10px;

      color: white;

      font-size: 14px;
      line-height: 1.2;
      text-transform: uppercase;

      background-color: rgba(60, 59, 61, 1);

      border: none;

      border-radius: 50px;

      &:focus {
        outline: none;
      }

      @include mini_tablet {
        width: 100%;
      }
    }
  }
}

.menu-item {
  color: $dark-gray;

  font-size: 11px;

  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: $orange;
  }
}
