.news {
  &_item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(px-to-rem(575px), 1fr));

    column-gap: px-to-rem(50px);

    @include tablet {
      grid-template-columns: 1fr;
      row-gap: px-to-rem(50px);
    }

    &:nth-of-type(2n) {
      @media screen and (min-width: px-to-rem(1239px)) {
        .news_photo {
          grid-row-start: 1;
          grid-column-start: -1;
        }
      }
    }

    &_body {
      text-align: left;
    }

    &_title {
      margin: px-to-rem(0 0 30px);

      font-weight: normal;
      font-size: px-to-rem(30px);
      line-height: px-to-rem(45px);

      text-transform: capitalize;

      @include mobile {
        margin: px-to-rem(0 0 16px);

        font-size: px-to-rem(16px);
        line-height: px-to-rem(24px);
      }
    }

    &_text {
      margin: px-to-rem(0 0 24px);

      font-size: px-to-rem(16px);

      &_last {
        margin: px-to-rem(0 0 16px);
      }
    }

    &_author {
      display: flex;
      gap: px-to-rem(16px);

      margin: px-to-rem(0 0 46px 0);

      font-size: px-to-rem(12px);

      @include mini_tablet {
        margin: px-to-rem(0 0 45px 0);
      }

      &_link {
        margin: 0;

        color: color('hover');

        text-transform: uppercase;
      }
    }

    &:not(:last-child) {
      margin-bottom: px-to-rem(64px);

      @include mobile {
        margin-bottom: px-to-rem(45px);
      }
    }
  }

  &_photo {
    @include tablet {
      width: 100%;
    }
  }

  &_date {
    margin: 0;
  }
}
