.news {
    padding-top: 100px;
    text-align: center;

    &_title {
        margin-top: 0;
        margin-bottom: 50px;
        
        font-size: 38px;
        font-weight: bold;
        
        text-transform: uppercase;
    }

    &_item {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(575px, 1fr));
        column-gap: 50px;

        &_body {
            text-align: left;
        }

        &_title {
            margin: 0 0 30px;
            font-weight: normal;
            font-size: 30px;
            line-height: 45px;
        }
        
        &_text {
            margin: 0 0 24px;
            font-size: 16px;
        }

        &_footer {
            text-align: left;
            
        }

        &_author {
            margin: 0 0 48px 0px;
            font-size: 12px;

            &_avatar {
                margin-right: 16px;
                padding-left: 35px;
                color: $orange;
                text-transform: uppercase;
                text-decoration: none;
                background-image: url("../images/avatar.png");
                background-repeat: no-repeat;
                background-size: 19px;

                &:hover {
                    color: white;

                    transition: 1s;
                }
            }
        }

        &_btn {
            margin-bottom: 20px;
            padding: 16px 30px;
            box-sizing: border-box;
            border: 2px solid $dark-gray;
            border-radius: 5px;
            font-size: 12px;
            color: white;
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
                color: $orange;
                border: 2px solid $orange;
                
                transition: 1s;
            }
        }

        &:not(:last-child) {
            margin-bottom: 65px;
        }
    }

    .artist_photo {
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .right_side {
        grid-column: 2 / 3;
    }
}