.playlist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(px-to-rem(380px), px-to-rem(550px)));

  column-gap: px-to-rem(50px);
  row-gap: px-to-rem(25px);
}

.artist_name {
  display: block;

  color: $gray;

  text-transform: initial;
}

.time {
  margin-right: 0;

  color: $gray;
}

.track_info {
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;

  max-width: px-to-rem(480px);

  font-size: px-to-rem(12.8px);

  @include mini_tablet {
    flex-direction: row;
  }
}

.track_name {
  text-transform: uppercase;
}

.album {
  width: px-to-rem(55px);
  margin-right: px-to-rem(15px);
}

@include mini_tablet {
  .popular_track {
    flex-direction: row;
  }
}
