.playlist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(px-to-rem(380px), px-to-rem(550px)));

  column-gap: px-to-rem(50px);
  row-gap: px-to-rem(25px);

  &_track {
    @include mini_tablet {
      flex-direction: row;
    }

    &_time {
      margin-right: 0;

      color: $secondaryLight;

      @include mobile {
        margin-right: px-to-rem(7px);
      }
    }
  }

  &_image {
    width: px-to-rem(55px);
    margin-right: px-to-rem(15px);
  }

  &_info {
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;

    max-width: px-to-rem(480px);

    font-size: px-to-rem(12.8px);

    @include mini_tablet {
      flex-direction: row;
    }
  }

  &_album {
    margin: 0;

    font-weight: bold;
    font-size: px-to-rem(12.8px);
    text-transform: uppercase;

    &_link {
      color: $thirdLight;
      text-decoration: none;

      &:hover {
        color: $hover;
      }
    }

    &_name {
      display: block;

      color: $secondaryLight;

      text-transform: initial;
    }
  }
}
