$rem-base: 16px;

@function px-to-rem($value) {
  $rem-list: ();
   @each $number in $value {
    $rem-value: $number / $rem-base;
    $rem-list: append($rem-list, #{$rem-value}rem);
  }
@return #{$rem-list};
}
