.section {
  padding-top: px-to-rem(100px);

  text-align: center;

  &_title {
    margin-top: 0;
    margin-bottom: px-to-rem(48px);

    font-weight: bold;
    font-size: px-to-rem(38px);

    text-align: center;
    text-transform: uppercase;

    @include mobile {
      font-size: px-to-rem(18px);
    }

    &__align {
      margin-bottom: px-to-rem(48px);

      text-align: left;
    }
  }

  &_text {
    width: px-to-rem(600px);

    margin-right: px-to-rem(144px);

    font-size: px-to-rem(16px);
    line-height: px-to-rem(24px);

    text-align: left;

    @include tablet {
      width: 100%;

      margin-right: 0;
    }
  }

  &:last-child {
    margin-bottom: px-to-rem(100px);
  }

  &_align {
    padding-top: px-to-rem(100px);

    color: $thirdLight;

    text-align: left;

    &:last-child {
      margin-bottom: px-to-rem(103px);
    }
  }
}
