.section {
  padding-top: 100px;

  text-align: center;

  &_title {
    margin-top: 0;
    margin-bottom: 48px;

    font-weight: bold;
    font-size: 38px;

    text-align: center;
    text-transform: uppercase;

    @include mobile {
      font-size: 18px;
    }

    &__align {
      text-align: left;
      margin-bottom: 48px;
    }
  }

  &_text {
    width: 600px;

    margin-right: 144px;

    font-size: 16px;
    line-height: 24px;

    text-align: left;

    @include tablet {
      width: 100%;

      margin-right: 0;
    }
  }

  &:last-child {
    margin-bottom: 100px;
  }

  &_align {
    padding-top: 100px;

    color: white;

    text-align: left;

    &:last-child {
      margin-bottom: 103px;
    }
  }

  &_image {
    max-width: 100%;
    object-fit: contain;
  }
}
