.subscription {
  &_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(368px, 500px));
    gap: 47px;

    @include tablet {
      justify-content: center;
    }

    @include mobile {
      grid-template-columns: repeat(auto-fit, 1fr);
    }
  }

  &_card {
    box-sizing: border-box;

    margin-bottom: 43px;
    padding: 0 1.5rem;

    border-radius: 1rem;

    @include mobile {
      margin-bottom: 0;
    }

    &_title {
      margin: 24px 0 200px 0;

      font-size: 24px;
      text-transform: uppercase;

      @include mobile {
        margin: 19px 0 190px 0;

        font-weight: normal;
        font-size: 16px;
      }
    }

    &_price {
      margin: 0 0 40px 0;

      font-size: 64px;
      line-height: 1em;
    }

    &_text {
      margin: 64px 0;

      font-size: 13px;
    }
  }

  &_description {
    margin-top: 0;

    font-size: 16px;

    @include mobile {
      margin-top: 43px;
    }
  }

  &_free {
    background-image: (url("../images/subscribe_1.png"));
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
  }

  &_standard {
    background-image: (url("../images/subscribe_2.png"));
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
  }

  &_premium {
    background-image: (url("../images/subscribe_3.png"));
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
  }
}

.currency {
  font-size: 32px;
  text-transform: uppercase;
  vertical-align: text-top;
}
