.subscription {
  &_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, px-to-rem(366px));
    gap: px-to-rem(50px);
    justify-content: space-between;

    @include tablet {
      justify-content: center;
    }

    @include mobile {
      grid-template-columns: repeat(auto-fit, 1fr);
    }
  }

  &_card {
    box-sizing: border-box;

    margin-bottom: px-to-rem(43px);
    padding: 0 1.5rem;

    border-radius: 1rem;

    @include mobile {
      margin-bottom: 0;
    }

    &_title {
      margin: px-to-rem(22px 0px 193px 0px);

      font-weight: normal;
      font-size: px-to-rem(24px);
      line-height: px-to-rem(36px);
      text-transform: uppercase;

      @include mobile {
        margin: px-to-rem(17px 0px 193px 0px);

        font-size: px-to-rem(16px);
        line-height: px-to-rem(24px);
      }

      &_first {
        @include mini_tablet {
          margin: px-to-rem(17px 0px 194px 0px);
        }
      }
    }

    &_price {
      margin: px-to-rem(0px 0px 40px 0px);

      font-size: px-to-rem(64px);
      line-height: px-to-rem(64px);
    }

    &_text {
      margin: px-to-rem(64px 0px);

      font-size: px-to-rem(12.8px);
      line-height: px-to-rem(19.2px);
    }
  }

  &_description {
    margin: 0;

    font-size: px-to-rem(16px);

    @include mobile {
      margin-top: px-to-rem(40px);
    }
  }

  &_free {
    background-image: (url("../images/subscribe_1.png"));
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
  }

  &_standard {
    background-image: (url("../images/subscribe_2.png"));
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
  }

  &_premium {
    background-image: (url("../images/subscribe_3.png"));
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
  }
}

.currency {
  font-size: px-to-rem(32px);
  text-transform: uppercase;
  vertical-align: text-top;
}
